.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (100px)[3];
      grid-template-rows: repeat(3, 100px);
  gap: 8px;
  width: 300px;
  background-color: #eee;
}

.grid-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: pink;
  border: 1px solid aquamarine;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
}

.grid-container__item:nth-child(1) {
  grid-column: span 3;
}

.grid-container__item:nth-child(3) {
  grid-column: span 2;
}
